name: Export notebook from Databricks to GitHub

on:
  push:
    branches: [main]

permissions:
  contents: write
  
jobs:
  export_notebook:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install databricks-cli
      run: pip install databricks-cli

    - name: Set up Databricks credentials
      run: |
        mkdir -p ~/.databricks
        databricks configure --token --profile databricks-default <<EOF
        ${{ secrets.DATABRICKS_HOST }}
        ${{ secrets.DATABRICKS_TOKEN }}
        EOF

    - name: Run export script
      run: bash databricks_notebooks/export_from_databricks.sh

    - name: Commit and Push changes
      run: |
        git config user.name "Thanh Thá»§y"
        git config user.email "uongthanhthuy99@gmail.com"
        git add databricks_notebooks/clean_simple_covid
        git commit -m "Auto update Databricks notebook" || echo "No changes to commit"
        git pull --rebase origin main
        git push origin main
